@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: bisque;
}

.wrapper {
  width: 60%;
  border: 1px solid transparent;
  margin: 5% auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgb(212, 116, 116);
  padding: 5%;
}
.header {
  text-align: center;
  margin: 0% auto 1% auto;
  font-weight: 900;
}

#survey-form {
  display: grid;
  grid-template-rows: 500px 100px;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.label-div {
  text-align: end;
}
.input-div {
  text-align: start;
}
.btn-div {
  grid-column: 1/3;
}

div > p > input,
div > p > select {
  height: 20px;
  border-style: none;
  background-color: #e1dee7;
  border-radius: 5px;
  font-weight: 900;
}
div > p > textarea {
  border-style: none;
  background-color: #eceff0;
  border-radius: 5px;
}

.label-div > p {
  font-weight: 900;
}

#submit {
  width: 100%;
  padding: 1%;
  background: #f4d019;
  border-style: none;
  border-radius: 10px;
  font-weight: 900;
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto 0 auto;
  box-shadow: 0px 0px 10px 0px rgb(39, 63, 141);
}
@media (max-width: 576px) {
  .wrapper {
    width: 90%;
  }
  div > p > input,
  div > p > select {
  }
  div > p > textarea {
    width: 80%;
  }
  #submit {
    width: 80%;
    height: 50px;
  }
  .btn-div {
    text-align: center;
    margin-bottom: 1%;
  }
}